<style type="text/css">
    @page {
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show
    }

    td, th {
        vertical-align: top;
        font-size: 12pt;
    }

    h1, h2, h3, h4, h5, h6 {
        clear: both;
    }

    ol, ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* "li span.odfLiEnd" - IE 7 issue*/
    li span. {
        clear: both;
        line-height: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    * {
        margin: 0;
    }

    .P13 {
        font-size: 11pt;
        line-height: 108%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P3 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P30 {
        font-size: 11pt;
        line-height: 100%;
        margin: 0 0 0 1.27cm;
        text-align: justify ! important;
        text-indent: 0;
        font-family: Calibri;
        writing-mode: lr-tb;
    }


    .P43 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: left ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P44 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }


    .P45 {
        font-size: 11pt;
        line-height: 100%;
        text-align: left ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        background-color: #fff200;
        padding-bottom: 0;
        padding-top: 0;
        border-top-style: none;
        border-bottom-style: none;
    }

    .P46 {
        font-size: 11pt;
        line-height: 100%;
        text-align: right ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        background-color: #fff200;
        padding-bottom: 0;
        padding-top: 0;
        border-top-style: none;
        border-bottom-style: none;
    }


    .P47 {
        font-size: 12pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Times New Roman;
        writing-mode: lr-tb;
        vertical-align: top;
    }

    .Tabla6 {
        width: 15.494cm;
        margin: 0 auto 0 0;
        background-color: #f2f2f2;
        writing-mode: lr-tb;
    }


    .Tabla6_A1 {
        background-color: #f2f2f2;
        padding: 0 0.191cm 0 0.199cm;
        border-width: 1px;
        border-style: solid;
        border-color: #000000;
    }


    .T1 {
        font-size: 14pt;
        font-weight: bold;
    }

    .T18 {
        font-family: Calibri;
        font-size: 11pt;
    }

    .T29 {
        font-size: 9pt;
    }

    .T30 {
        font-size: 9pt;
        font-weight: bold;
    }

    .T32 {
        font-size: 9pt;
        background-color: #fff200;
    }

    .T6 {
        font-weight: bold;
    }


    .ListLabel_20_28 .ListLabel_20_29 .ListLabel_20_30 .ListLabel_20_31 .ListLabel_20_32 .ListLabel_20_33 .ListLabel_20_34 .ListLabel_20_35 .ListLabel_20_36 .ListLabel_20_37 .ListLabel_20_38 .ListLabel_20_39 .ListLabel_20_40 .ListLabel_20_41 .ListLabel_20_42 .ListLabel_20_43 .ListLabel_20_44 .ListLabel_20_45 .ListLabel_20_46 .ListLabel_20_47 .ListLabel_20_48 .ListLabel_20_49 .ListLabel_20_50 .ListLabel_20_51 .ListLabel_20_52 .ListLabel_20_53 .ListLabel_20_54 .ListLabel_20_56 .ListLabel_20_57 .ListLabel_20_58 .ListLabel_20_59 .ListLabel_20_60 .ListLabel_20_61 .ListLabel_20_63 .ListLabel_20_64 .ListLabel_20_65 .ListLabel_20_66 .ListLabel_20_67 .ListLabel_20_68 .ListLabel_20_69 .ListLabel_20_70 .ListLabel_20_71 .ListLabel_20_72 .ListLabel_20_73 .ListLabel_20_74 .ListLabel_20_75 .ListLabel_20_76 .ListLabel_20_77 .ListLabel_20_78 .ListLabel_20_79 .ListLabel_20_80 .ListLabel_20_81 .ListLabel_20_82 .ListLabel_20_83 .ListLabel_20_85 .ListLabel_20_86 .ListLabel_20_87 .T10 .T24 .T25 .T36 .eop .normaltextrun {
    }
</style>
<p class="P30" style="margin-left:1.27cm;"><span
        class="T1"><strong>Comunicación de tus datos a terceras empresas</strong></span></p>
<p class="P47"><span class="T18">Al aceptar nos autorizas a comunicar tu información con aquellos terceros que nos indiques (por ejemplo, con una institución financiera o el Destinatario), y con aquellos que tengan un interés legítimo sobre esos datos o puedan tratarlos de acuerdo con la ley, reglamentos e instrucciones de autoridades competentes.</span></span>
</p>
<p class="P47"><span class="normaltextrun"><span class="T18">Desde el momento que te identifiques y/o a tu sociedad, y en el contexto de esta prestación, la información provista será comunicada al Destinatario, Para que pueda utilizarla de acuerdo con los fines establecidos en este documento.</span></span><span
        class="eop"></span></p>

<table class="Tabla6">
    <colgroup>
        <col width="43"/>
        <col width="66"/>
        <col width="186"/>
        <col width="382"/>
    </colgroup>
    <tbody style="font-size: 9pt">
    <tr class="Tabla61" style="background-color: #f2f2f2;">
        <td colspan="4" style="text-align:left;width:0.991cm; " class="Tabla6_A1"><p class="P43">
            <span class="T6" style="font-weight: bold">{{nombre_empresa}}</span>
        </p></td>
    </tr>
    <tr class="Tabla61" style="background-color: #f2f2f2;">
        <td colspan="2" style="text-align:left;width:0.991cm; " class="Tabla6_A1"><p class="P43"><span class="T29">Razón Social</span>
        </p></td>
        <td colspan="2" style="text-align:left;width:4.251cm; " class="Tabla6_A1"><p class="P43"><span
                class="T29">: </span><span class="T32">{{razon_social}}</span></p></td>
    </tr>
    <tr class="Tabla61" style="background-color: #f2f2f2;">
        <td colspan="2" style="text-align:left;width:0.991cm; " class="Tabla6_A1"><p class="P43"><span
                class="T29">RUT</span></p></td>
        <td colspan="2" style="text-align:left;width:4.251cm; " class="Tabla6_A1"><p class="P45"><span class="T29">: {{rut_empresa}}</span>
        </p></td>
    </tr>
    <tr class="Tabla61" style="background-color: #f2f2f2;">
        <td colspan="2" style="text-align:left;width:0.991cm; " class="Tabla6_A1"><p class="P43"><span class="T29">Domicilio</span>
        </p></td>
        <td colspan="2" style="text-align:left;width:4.251cm; " class="Tabla6_A1"><p class="P43"><span
                class="T29">: </span><span class="T32">{{domicilio_empresa}}</span></p>
        </td>
    </tr>
    <tr class="Tabla61" style="background-color: #f2f2f2;">
        <td colspan="2" style="text-align:left;width:0.991cm; " class="Tabla6_A1"><p class="P43"><span
                class="T29">País</span></p></td>
        <td colspan="2" style="text-align:left;width:4.251cm; " class="Tabla6_A1"><p class="P43"><span
                class="T29">: </span><span class="T32">{{pais_empresa}}</span></p></td>
    </tr>
    <tr class="Tabla61" style="background-color: #f2f2f2;">
        <td colspan="4" style="text-align:left;width:0.991cm; " class="Tabla6_A1"><p class="P43"><span class="T30" style="font-weight: bold">Información de contacto:</span>
        </p></td>
    </tr>
    <tr class="Tabla61" style="background-color: #f2f2f2;">
        <td style="text-align:left;width:0.991cm; " class="Tabla6_A1"><p class="P44"><span class="T29">#</span></p></td>
        <td colspan="2" style="text-align:left;width:1.499cm; " class="Tabla6_A1"><p class="P43"><span
                class="T29">Tipo</span></p></td>
        <td style="text-align:left;width:8.752cm; " class="Tabla6_A1"><p class="P44"><span class="T29">Dato</span></p>
        </td>
    </tr>
    <tr class="Tabla68" style="background-color: #f2f2f2;">
        <td style="text-align:left;width:0.991cm; " class="Tabla6_A1"><p class="P44"><span class="T29">1</span></p></td>
        <td colspan="2" style="text-align:left;width:1.499cm; " class="Tabla6_A1"><p class="P43"><span
                class="T29">Email</span></p></td>
        <td style="text-align:left;width:8.752cm; " class="Tabla6_A1"><p class="P46"><span
                class="T29">{{correo_empresa}}</span>
        </p></td>
    </tr>
    <tr class="Tabla68" style="background-color: #f2f2f2;">
        <td style="text-align:left;width:0.991cm; " class="Tabla6_A1"><p class="P44"><span class="T29">2</span></p></td>
        <td colspan="2" style="text-align:left;width:1.499cm; " class="Tabla6_A1"><p class="P43"><span class="T29">Teléfono</span>
        </p></td>
        <td style="text-align:left;width:8.752cm; " class="Tabla6_A1"><p class="P46">{{telefono_empresa}}</p></td>
    </tr>
    </tbody>

</table>
