<style type="text/css">
    @page {
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show
    }

    td, th {
        vertical-align: top;
        font-size: 12pt;
    }

    h1, h2, h3, h4, h5, h6 {
        clear: both;
    }

    /*ol, ul {*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*}*/

    /*li {*/
    /*    list-style: none;*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*}*/

    /* "li span.odfLiEnd" - IE 7 issue*/
    li span. {
        clear: both;
        line-height: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    * {
        margin: 0;
    }


    .P13 {
        font-size: 11pt;
        line-height: 108%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P3 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P30 {
        font-size: 11pt;
        line-height: 100%;
        margin: 0 0 0 1.27cm;
        text-align: justify ! important;
        text-indent: 0cm;
        font-family: Calibri;
        writing-mode: lr-tb;
    }



    .P32 {
        font-size: 11pt;
        line-height: 108%;
        margin: 0 0 0 0.5cm;
        text-align: justify ! important;
        text-indent: 0;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P4 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        vertical-align: top;
    }

    .P43 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: left ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P44 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P45 {
        font-size: 11pt;
        line-height: 100%;
        text-align: left ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        background-color: #fff200;
        padding-bottom: 0;
        padding-top: 0;
        border-top-style: none;
        border-bottom-style: none;
    }

    .Tabla7 {
        width: 15.494cm;
        margin: 0 auto 0 0;
        background-color: #f2f2f2;
        writing-mode: lr-tb;
    }

    .Tabla8 {
        width: 15.494cm;
        margin: 0 auto 0 0;
        background-color: #f2f2f2;
        writing-mode: lr-tb;
    }

    .Tabla7_A1 {
        background-color: #f2f2f2;
        padding: 0 0.191cm 0 0.199cm;
        border-width: 1px;
        border-style: solid;
        border-color: #000000;
    }

    .Tabla8_A1 {
        background-color: #f2f2f2;
        padding: 0 0.191cm 0 0.199cm;
        border-width: 1px;
        border-style: solid;
        border-color: #000000;
    }


    .T1 {
        font-size: 14pt;
        font-weight: bold;
    }


    .T13 {
        font-size: 10pt;
    }

    .T14 {
        font-size: 10pt;
        font-weight: bold;
    }

    .T16 {
        font-size: 10pt;
        background-color: #fff200;
    }

    .T17 {
        font-family: Calibri;
    }


    .T19 {
        font-family: Calibri;
        font-weight: bold;
    }


    .T35 {
        background-color: #fff200;
    }

    .T6 {
        font-weight: bold;
    }

    .T8 {
        font-weight: bold;
        background-color: #fff200;
    }

</style>
<p class="P30" style="margin-left:1.27cm;"><span
        class="T1"><strong>Encargados de tratamiento</strong></span></p>

<p class="P13">En la realización de las finalidades descritas, podremos compartir tu información bajo encargo, en el
    territorio peruano o fuera de él, y siempre sujeto a medidas de seguridad, con:</p>

<ol type="a">
    {% for empresa in empresas_amigas %}
        <li>
            <p class="P32"><span class="T35">{{ empresa.nombre_empresa_amiga | string }} , ubicado en {{ empresa.direccion | string }}, y que resguarda tu información de manera encriptada</span>.</p>
        </li>
    {% endfor %}
    <li>
        <p class="P32">Con otras empresas o personas que tú nos autorices explícitamente. </p>
    </li>
</ol>

<p class="P4"><span class="T19">Otras empresas o personas autorizadas para realizar tratamiento</span><span class="T17">:</span>
</p>

{% if has_otras_empresas %}

    {% for empresa in otras_empresas %}
        <table class="Tabla7">
            <colgroup>
                <col width="43"/>
                <col width="66"/>
                <col width="240"/>
                <col width="328"/>
            </colgroup>
            <tbody style="font-size: 9pt">
            <tr class="Tabla71" style="background-color: #f2f2f2;">
                <td colspan="4" style="text-align:left;width:0.991cm; " class="Tabla7_A1"><p class="P43"><span class="T8" style="font-weight: bold;">{{ empresa.nombre_empresa | string }}</span><span
                        class="T6"> </span></p></td>
            </tr>
            <tr class="Tabla71" style="background-color: #f2f2f2;">
                <td colspan="2" style="text-align:left;width:0.991cm; " class="Tabla7_A1"><p class="P43"><span class="T13">Razón social</span>
                </p></td>
                <td colspan="2" style="text-align:left;width:5.502cm; " class="Tabla7_A1"><p class="P43"><span
                        class="T13">: </span><span class="T16">{{ empresa.razon_social | string }}</span></p></td>
            </tr>
            <tr class="Tabla71" style="background-color: #f2f2f2;">
                <td colspan="2" style="text-align:left;width:0.991cm; " class="Tabla7_A1"><p class="P43"><span
                        class="T13">RUT</span></p></td>
                <td colspan="2" style="text-align:left;width:5.502cm; " class="Tabla7_A1"><p class="P43"><span
                        class="T13">: </span><span class="T16">{{ empresa.rut | string }}</span></p></td>
            </tr>
            <tr class="Tabla71" style="background-color: #f2f2f2;">
                <td colspan="2" style="text-align:left;width:0.991cm; " class="Tabla7_A1"><p class="P43"><span class="T13">Domicilio</span>
                </p></td>
                <td colspan="2" style="text-align:left;width:5.502cm; " class="Tabla7_A1"><p class="P45"><span class="T13">: {{ empresa.domicilio | string }}</span>
                </p></td>
            </tr>
            <tr class="Tabla71" style="background-color: #f2f2f2;">
                <td colspan="2" style="text-align:left;width:0.991cm; " class="Tabla7_A1"><p class="P43"><span
                        class="T13">País</span></p></td>
                <td colspan="2" style="text-align:left;width:5.502cm; " class="Tabla7_A1"><p class="P43"><span
                        class="T13">: </span><span class="T16">{{ empresa.pais | string }}</span></p></td>
            </tr>
            <tr class="Tabla71" style="background-color: #f2f2f2;">
                <td colspan="4" style="text-align:left;width:0.991cm; " class="Tabla7_A1"><p class="P43"><span class="T14">Relación con {{ empresa.empresa_relacionada | string }}:</span>
                </p></td>
            </tr>
            <tr class="Tabla71" style="background-color: #f2f2f2;">
                <td style="text-align:left;width:0.991cm; " class="Tabla7_A1"><p class="P44"><span class="T13">#</span></p></td>
                <td colspan="2" style="text-align:left;width:1.499cm; " class="Tabla7_A1"><p class="P43"><span class="T13">Información </span>
                </p></td>
                <td style="text-align:left;width:7.502cm; " class="Tabla7_A1"><p class="P43"><span class="T13">Relación</span>
                </p></td>
            </tr>
            {% for relacion in empresa.relaciones %}
                <tr class="Tabla71" style="background-color: #f2f2f2;">
                    <td style="text-align:left;width:0.991cm; " class="Tabla7_A1"><p class="P44"><span class="T13">{{ relacion.nro | int }}</span></p></td>
                    <td colspan="2" style="text-align:left;width:1.499cm; " class="Tabla7_A1"><p class="P45"><span class="T13">{{ relacion.informacion | string }}</span>
                    </p></td>
                    <td style="text-align:left;width:7.502cm; " class="Tabla7_A1"><p class="P45"><span class="T13">{{ relacion.relacion | string }}</span>
                    </p></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endif %}

<p class="P30" style="margin-left:1.27cm;"></p>
<p class="P3"><span class="T25">En caso hubiera nuevos terceros encargados de tratamiento, actualizaremos esta relación y te informaremos oportunamente mediante correo electrónico.</span>
</p>
