<style type="text/css">
    @page {
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show
    }

    td, th {
        vertical-align: top;
        font-size: 12pt;
    }

    h1, h2, h3, h4, h5, h6 {
        clear: both;
    }

    /*ol, ul {*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*}*/

    /*li {*/
    /*    list-style: none;*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*}*/

    /* "li span.odfLiEnd" - IE 7 issue*/
    li span. {
        clear: both;
        line-height: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    /** {*/
    /*    margin: 0;*/
    /*}*/

    .No_20_Spacing {
        font-size: 11pt;
        font-family: Calibri;
        writing-mode: lr-tb;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 100%;
        text-align: left ! important;
    }

    .P1 {
        font-size: 11pt;
        line-height: 108%;
        margin-bottom: 0.282cm;
        margin-top: 0;
        text-align: left ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        color: #ce181e;
    }

    .P12 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        font-weight: bold;
    }

    .P16 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        vertical-align: top;
    }

    .P30 {
        font-size: 11pt;
        line-height: 100%;
        margin: 0 0 0 1.27cm;
        text-align: justify ! important;
        text-indent: 0;
        font-family: Calibri;
        writing-mode: lr-tb;
    }


    .P4 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        vertical-align: top;
    }

    .T17 {
        font-family: Calibri;
    }


    .T2 {
        font-size: 14pt;
        font-weight: bold;
    }

    .T20 {
        font-family: Calibri;
        font-size: 14pt;
        font-weight: bold;
    }

    .T21 {
        font-family: Calibri;
        font-size: 14pt;
    }


    .T33 {
        font-style: italic;
    }


</style>
<p class="P30" style="margin-left:1.27cm;"><span
        class="T2"> Cómo protegemos tu información</span> </p>

<ul>
    <li><p ><span class="T25">Tu información está sujeta a medidas de seguridad de carácter legal, organizacional y técnico exigidas por la normativa aplicable.</span>
         </p></li>
    <li><p ><span class="T25">No comunicaremos información que pueda identificarte, o a la sociedad u organización que representas, sin tu autorización expresa.</span>
    </p></li>
    <li><p ><span class="T25">Nos reservamos el derecho de exigir sistemas de autenticación más robustos para que puedas acceder a tu información, como doble factor, </span><span
            class="T33">tokens</span><span class="T25">, biometría u otros, con el objetivo de reducir al máximo el riesgo de suplantación y de acceso ilegal.</span>
    </p></li>
</ul>
<p class="P30" style="margin-left:1.27cm;"><span
            class="T2"> Cuáles son tus derechos</span></p>
<ul>
    <li><p ><span
            class="T17">Siempre podrás conocer qué información tuya o de la sociedad u organización que representas hemos recopilado y procesado, para qué la hemos procesado, con quien la hemos compartido (con tu autorización) y cuándo o hicimos. </span></p></li>
    <li><p ><span
            class="T17">Siempre tendrás derecho a una copia del documento electrónico que acredita tu autorización explícita para acceder y procesar tu información. </span> </p></li>
</ul>
<ul>
    <li><p ><span
            class="T17">Siempre podrás solicitar que dejemos de compartir tu información con determinado tercero indicado por ti.  </span> </p></li>
    <li><p ><span
            class="T17">Siempre podrás solicitar revocar tu autorización ara tratamiento de datos, que eliminemos tu información y/o que la disociemos, de manera tal que no se pueda vincular a ti, o a la sociedad u organización que representas. </span> </p></li>
    <li><p ><span
            class="T17">Puedes ejercer tus derechos dirigiendo una solicitud a </span><span>{{correo_contacto}}</span><span
            class="T17">         </span></p></li>
</ul>
<p class="P30" style="margin-left:1.27cm;"><span
            class="T20"> Responsabilidad sobre la calidad de la información</span><span class="T21"> </span> </p>
<p class="P16"> </p>
<p class="P4"><span class="T17">No nos hacemos responsables sobre la veracidad, exactitud o aptitud para los fines que se requieran, de la información que nos proporcionas. En todo momento podrás revisarla y solicitar que la actualicemos o rectifiquemos. </span>
</p>
<p class="P16"> </p>
<p class="P30" style="margin-left:1.27cm;"><span
            class="T20">Preguntas</span><span class="T21"> </span></p>
<p class="P16"> </p>
<p class="P4"><span class="T17">Si tienes alguna duda, te invitamos a contactarnos directamente a </span><span
        >{{correo_contacto}}</span><span class="T17"> </span></p>