{% block stylesheet%}
<style type="text/css">
    @page {
    }

    h1, h2, h3, h4, h5, h6 {
        clear: both;
    }

    /* "li span.odfLiEnd" - IE 7 issue*/
    span. {
        clear: both;
        line-height: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    * {
        margin: 0;
    }

    .P10 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        font-weight: bold;
    }

    .P11 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        font-weight: bold;
    }

    .P13 {
        font-size: 11pt;
        line-height: 108%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P2 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P28 {
        font-size: 11pt;
        line-height: 100%;
        margin: 0 0 0 0.751cm;
        text-align: justify ! important;
        text-indent: -0.751cm;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P29 {
        font-size: 11pt;
        line-height: 100%;
        margin: 0 0 0 0.635cm;
        text-align: justify ! important;
        text-indent: 0;
        font-family: Calibri;
        writing-mode: lr-tb;
        font-weight: bold;
    }

    .P3 {
        font-size: 11pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
    }

    .P8 {
        font-size: 14pt;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        text-align: justify ! important;
        font-family: Calibri;
        writing-mode: lr-tb;
        font-weight: bold;
    }

    .T1 {
        font-size: 14pt;
        font-weight: bold;
    }

    .T35 {
        background-color: #fff200;
    }

    .T5 {
        font-size: 14pt;
        font-weight: bold;
        background-color: #fff200;
    }

    .T6 {
        font-weight: bold;
    }

    .T8 {
        font-weight: bold;
        background-color: #fff200;
    }

    .T9 {
        text-decoration: underline;
    }

</style>
{% endblock %}
<p class="P2"></p>
<p class="P2" style="text-align: center"><strong><span class="T1">Términos de Servicio y Política de Privacidad de </span><span
        class="T5">{{nombre_cliente}}</span></strong></p>

<p class="P28" style="margin-left:0.751cm;"><span
        class="T1"><strong>Mandato de tratamiento de datos</strong> </span> </p>

<p class="P3" style="text-align: justify"><span class="T8"><strong>{{razon_social}}</strong></span> o en adelante
    “{{codigo_cliente}}”, o “Destinatario” es una empresa que provee financiamiento a empresas
    de diversos tamaños mediante la oferta de diversos productos financieros. Para el correcto desarrollo de su
    actividad comercial, requerirá obtener la información necesaria para llevar a cabo sus procesos de evaluación
    comercial,
    financiera, riesgo y/o legal podría contrata a distintas diversas soluciones o servicios de provisión de datos. Esta
    información en parte podrá ser obtenida mediante consultas a instituciones públicas o privadas y/o también podrá ser
    facilitada por tu sociedad. En el momento en que tú o la sociedad que representas acepten estos Términos y
    Condiciones, autorizas que el {{codigo_cliente}} realice o encargue a terceros la realización de las actividades de
    tratamiento de datos relativas a la obtención, procesamiento, almacenamiento y comunicación de la
    información requerida para utilizarla para siguientes <span class="T9">usos o fines</span>
    en el contexto de la <strong>{{contexto_uso}}</strong>.</p>

<p class="P28" style="margin-left:0.751cm;"><span
        class="T1"><strong>Domicilio</strong></span></p>

<p class="P13" style="text-align: justify">Para los efectos de este documento, {{razon_social}} o {{codigo_cliente}} establece su domicilio en
    {{direccion_cliente}}.
</p>

<p class="P28" style="margin-left:0.751cm;"><span
        class="T1"><strong>Debes tener poderes de representación</strong></span> </p>

<p class="P3" style="text-align: justify">Al aceptar estos términos y condiciones de uso, declaras actuar a tu nombre o, en su caso, a nombre y
    representación de una sociedad u organización debidamente constituida, y que tienes facultades legales y
    contractuales suficientes para obligarte u obligar a esa entidad a cumplir con este acuerdo.
</p>

<p class="P28" style="margin-left:0.751cm;"><span
        class="T1"><strong>Los datos son tuyos o de tu sociedad</strong></span> </p>

<p class="P3" style="text-align: justify">Para nosotros tu confianza y la seguridad de tus datos son una prioridad. Nos comprometemos a ser
    transparentes sobre los datos comerciales y/o personales que obtenemos bajo la ley o con tu consentimiento a través
    de Datamart, y la forma en que los utilizamos. </p>
<p class="P3">Por favor, revisa atentamente estos términos y condiciones de uso para que comprendas qué datos
    obtendremos y con qué fin serán utilizados. Si no aceptas estas condiciones de tratamiento,
    las finalidades indicadas en este documento no podrán efectuarse.</p>
